################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WFStructureMap/.vs
/WFStructureMap/WFStructureMap.Data/bin/Debug
/WFStructureMap/WFStructureMap.Data/obj
/WFStructureMap/WFStructureMap.Business/bin/Debug
/WFStructureMap/WFStructureMap.Business/obj
/WFStructureMap/WFStructureMap.Web/bin
/WFStructureMap/WFStructureMap.Web/obj
